    body{
        font-family: Arial, Helvetica, sans-serif;
    }
    .headerspace {
              
        border-bottom: .5px outset;
        background:black;
        color: palevioletred;
        height: 7em;
        width: 100%;
           
    }
    .heading {
      padding-left: 300px;
      
       
    }
    .logo img{
        width: 60px;
        height:60px;
        margin-left: 250px;
        margin-top: 20px;
    }
    .logo,.heading{
        display:inline-block;
    }
    
    .column {
        float: left;
        width: 50%;
        
    }
    
    
     .column.firstlist li {

        line-height: 4em;
    }

   
    
    
    
       
        
      
        
        
        
        
    
    
   
    
  
    
    
    
    

